.about {
  padding-top: 84px;
  padding-bottom: 84px;
}

.about__pre-title {
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.about__title {
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #303030;
}

.about__after-title {
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;

  color: #555555;
}

.about__text {
  margin-bottom: 40px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: #555555;
}
